XLAYER_CHAIN_ID=1952
XLAYER_RPC_URL=https://testrpc.xlayer.tech/terigon
XLAYER_TESTNET_RPC_URL=https://testrpc.xlayer.tech/terigon
PRIVATE_KEY=
AGENT_WALLET_ADDRESS=
AGENT_PRIVATE_KEY=
ADMIN_PRIVATE_KEY=
NEXT_PUBLIC_INTENT_ROUTER_VAULT=
TENDERLY_ACCOUNT_ID=
TENDERLY_PROJECT_ID=
TENDERLY_ACCESS_KEY=
OKX_API_KEY=
OKX_SECRET_KEY=
OKX_PASSPHRASE=
OKX_PROJECT_ID=
OKX_TOKEN_MAP_JSON=
